html(lang='en')
head
    meta(charset='utf-8')
    title Into the Dark
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='screen')
    script(src='/javascript/raphael.js')
    script(src='/javascript/main.js')
    script(src='/javascript/levels.js')
    script(src='/javascript/units.js')
  body
    #canvas

